body {
  font-family: system-ui, -apple-system, 'Segoe UI', sans-serif;
  color: #333;
  background: #EEE;
  padding-bottom: 120px;
}

.contenedor {
  max-width: 600px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: #15E;
}

/* Después de haber clickado el link se quedará con ese color. */
a:visited {
  color: #818;
}

a:hover {
  color: #038;
}

table {
  width: 100%;
  border-collapse: collapse;
}

tr {
  border-top: 1px solid darkgrey;
}

tr:hover {
  background-color: rgb(217, 217, 217);
}

/* Eliminará la primera fila. */
tr:first-child {
  display: none;
}

/*  Selecciona las celdas "<td>" que son el primer hijo de su elemento padre. */
td:nth-child(1) {
  width: 24px;
  vertical-align: middle;
}

/* Selecciona los "<a>" que son hijos del primer hijo de la celda "<td>". */
td:nth-child(1) a {
  display: block;
}


/*  Selecciona las celdas "<td>" que son el segundo hijo de su elemento padre. */

td:nth-child(2) {
  width: 83%;
}

/* Selecciona los elementos "<a>" que son hijos del segundo hijo de la celda "<td>". */
td:nth-child(2) a {
  display: block;
  padding: 8px 10px;
  border-radius: 4px;
  position: relative;
}

/* Selecciona los elementos "<a>" que son hijos del segundo hijo de un td. */
td:nth-child(2) a:after {
  border-width: 0 0 3px 3px;
  border-color: #AAA;
  right: 11px
}


/*  Selecciona las celdas "<td>" que son el tercer hijo de su elemento padre. */
td:nth-child(3) {
  color: #888;
  font-size: 0.9rem;
}

footer {
  position: absolute;
  bottom: 0;
  width: 99%;
  text-align: center;
}

.flecha {
  height: 60px;
}
